@use 'helpers' as *;

:root{
    --color-light:#F9F4DA;
    --color-light-opacity:rgba(249, 244, 218, 0.4);

    --color-dark:#141414;
    --color-dark-10:#1A1A1A;

    --color-accent:#FFD77F;
    --color-accent-opecity:rgba(255, 214, 127, 0.4);
    
    --color-gray:#7A7974;
    --color-red:#ED4848;
    --color-green:#3FD83F;

    --gradient-gold: linear-gradient(180deg, #ffd77f 40%, #8b681a 100%);

    --border: #{rem(1) solid var(--color-dark-15)};

    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'Kumbh Sans', sans-serif;

    --container-width:#{rem(1600)};
    --container-padding-x:#{rem(16)};
    --shadow: 0 0 0 #{rem(4)} #191919;
    --transition-duration: 0.2s;

}