@use '../helpers/' as *;

.actions-container{
    position: relative;
    padding: rem(10) fluid(40,30);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: rem(10) rem(5);
    border: rem(1) solid #fff;
    border-radius: rem(10);
    min-height: rem(30);
    flex-grow: 1;
    background-image: url('../image/bg-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   
    &--column{
        flex-direction: column;
    }

    &--grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
        gap: rem(10);

        @include mobile{
            padding-right: rem(50);
        }
    }
    &--grid-auto-fit{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(48), 1fr));;
        align-items: center;
        justify-items: center;
        gap: rem(10);
        margin: 0 auto;

        @include mobile{
            padding-right: rem(50);
        }
    }


    &-img{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: rem(10);

        img{
            @include square(rem(20));
        }
    }

}
