@use '../helpers/' as *;

.button-actions{
    padding: rem(5) fluid(25,10);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: fluid(15,10);

    font-size: fluid(24,18);

    color: var(--color-accent);
    background-color: #222222;
    border-radius: rem(5);
    font-weight: 600;
    border:rem(1) solid #4b4b4b;


    & img{
        width: fluid(40,25);
    }

    @include hover{
        background-color: #696464;
    }

    &--disabled{
        color:var(--color-accent-opecity);
        pointer-events: none;
    }

    &--is-visited{
        opacity: 0.6;
        & img{
            width: fluid(30,15);
        }
    }

    &--wide{
        width: rem(200);
        column-gap: rem(15);
    }

    &--wide-space{
        padding-inline: rem(10);
        justify-content: space-between;
        width: fluid(270,220);
        column-gap: rem(5);
    }

    &--control-back{
        padding: 0;
        position: absolute;
        right: fluid(6,2);
        top: fluid(6,2);
        background-color: transparent;
        border: 0;

        img{
            @include square(fluid(35,30));
        }

        @include hover{
            background-color: #f1ffa3;
            border-radius: rem(6);
        }
    }

    &--icon-button{
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        border: 0;
        padding: 0;
        color: #fff;
        font-size: rem(20);
        
        @include hover{
            background-color: transparent;
            scale: 1.1;
        }

        img{
            @include square(fluid(90,50));
        }

        &.disable{
            position: relative;
            opacity: 0.4;

            &::after{
                position: absolute;
                top: 50%;
                left: 50%;
                content: 'закрыто';
                translate:-50%  -50%;
                transform: rotate(35deg);
                
            }
        }
    }

    &--icon-item{
        padding: rem(5);
        border: rem(1) solid var(--color-light);
        background: var(--gradient-gold);
        & img{
            width: fluid(90,40);
        }

        @include hover{
            scale: 1.1;
            background-color: transparent;
        }
    }
    
    &--safe{
        padding: rem(2);
        border: 0;
        background-color: var(--color-green);
        

        & img{
            width: fluid(90,55);
        }
        &-disabled{
            padding: rem(2);
            opacity: 0.8;
            pointer-events: none;
            border: 0;
            background-color: var(--color-red);
            & img{
                width: fluid(90,55);
            }
        }
    }


    &-flex{
        padding: rem(3) rem(7);
        display: flex;
        justify-content: space-between;
        column-gap: rem(10);
        align-items: center;
        max-width: rem(320);
        width: 100%;
        background-color: rgba(75, 69, 69, 0.552);
        border: rem(2) solid #F9F4DA;
        color: #60bf3a;
        font-weight: 600;
        border-radius: rem(5);
        img{
            width: rem(30);
        }

        @include hover{
            color: rgb(224, 224, 39);
        }
        &.disabled{
            pointer-events: none;
            opacity: 0.7;
        }
        
        &.reverse{
            width: unset;
        }
    }
}