@use '../helpers/' as *;

.debt-container{
    padding-inline:rem(10);
    display: grid;
    row-gap: rem(5);
    width: 100%;
    border-radius: rem(10);
    background-color: #0000008f;
    border: rem(1) solid #ffffff65;
    color: #F9F4DA;
    position: relative;

    transition: 0.5s ease;
    overflow: hidden;
    animation: heightup 1s linear forwards;

    &.is-close{
        pointer-events: none;
        animation: heightdown 4s linear forwards;
    }


    @keyframes heightdown {
        0%{
            padding-block: rem(10);
            height: rem(180);
        }
        100%{
            padding-block: rem(0);
            height:rem(0);
        }
    }
    @keyframes heightup {
        0%{
            padding-block: rem(0);
            height: rem(0);
        }
        100%{
            padding-block: rem(10);
            height:rem(180);
        }
    }
    
    &__content{
        display: grid;
        row-gap: rem(2);

        &-desc{
            display: flex;
            align-items: center;
            column-gap: rem(5);
            font-weight: 600;

            & img{
                width: fluid(30,20);
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(10);
    }

    &__value{
        display: flex;
        column-gap: rem(5);
        flex-shrink: 0;
        font-size: fluid(20,14);
        font-weight: 500;
        &-police{
            color: #D94929;
        }
        &-total{
            color: #FFD77F
        }
        & i{
            color: #3FD83F;
            font-weight: 600;
        }
    }

    &__progress-bar{
        height: rem(6);
        background-color: #D94929;
        border-radius: rem(3);
    }

    &__btn-pay{
        padding: rem(5) rem(10);
        border: rem(1) solid #7A7974;
        background-color: #262626;
        max-width:fluid(150,120);
        width: 100%;
        color: inherit;
        border-radius: rem(5);
        font-weight: 700;

        & span:last-child{
            color: #9CAE6A;
        }

        @include hover{
            background-color: rgb(96, 100, 96);
        }
    }

    &__btn-chevron{
        @include square(rem(30));
        padding: 0;
        position: absolute;
        border: 0;
        background-color: transparent;
        bottom: rem(0);
        left: 50%;
        transform: translateX(-50%);
    }
}