@use '../helpers/' as *;

.inventory{
    gap: fluid(10, 3);
    width: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(48), 1fr));;
    border-radius: rem(5);
    background-color: rgb(47 47 47);
    background-image: url('../image/inventory-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    &.is-open{
        transition: 0.3s ease-in-out;
        padding: fluid(10,5);
        height:fluid(170,120); 
        border: rem(2) solid var(--color-light);
    }

    &-slot{
        @include square(fluid(70,43));
        padding: rem(5);
        border:rem(2) solid #F9F4DA;
        display: flex;
        background-color: rgba(217, 217, 217, 0.5);
        justify-content: center;
        align-items: center;
        border-radius: rem(5);
        font-size: rem(12);
        user-select: none;
        position: relative;
        flex-shrink: 0;


        &.consumable{
            cursor: pointer;
            background: linear-gradient(180deg, #3fd83f 31.5%, #273d21 100%);
        }
    }

    &__button-close{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.button-delete{
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: rem(18);
    top: rem(-8);
    right: rem(-8);
    border-radius: 50%;
    border: 0;
    line-height: 0;
    @include square(rem(18))
}